@font-face {
    font-family: 'Neptune';
    src: url('Neptune.eot');
    src: local('Neptune'),
        url('Neptune.eot?#iefix') format('embedded-opentype'),
        url('Neptune.woff2') format('woff2'),
        url('Neptune.woff') format('woff'),
        url('Neptune.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

